/* RESET of ALL browser's Styles */

*,*::before,*::after
{-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;}

:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{
   font-family: Fugaz;
   height: 100%;
   width: 100%;
   font-size: 100%;
   line-height: 1;
   margin: 0;
   padding: 0;
   font-size: 14px;
   -ms-text-size-adjust: 100%;
   -moz-text-size-adjust: 100%;
   -webkit-text-size-adjust: 100%;
}
 input, button, textarea{font-family: inherit;}

 input::-ms-clear{display: none;}
 button{cursor:pointer}
 button::-moz-focus-inner{padding:0; border:0;}
 a,a:visited{text-decoration: none;}
 a:hover{text-decoration: none;}
 ul li{list-style: none;}
 img{vertical-align: top;}
 h1,h2,h3,h4,h5,h6{font-size: inherit; font-weight: 400;}


//  :root{
// 	--color-1: #EEEBD3;
// 	--color-2: #64A6BD;
// 	--color-3: #255957;
// 	--color-4: #F7C548;
// 	--color-5: #7D4E57;
//    --color-text: #050517;
//  }
:root{
	--color-1: #A99985;
	--color-2: #50545a;
	--color-3: #252323;
	--color-4: #F5F1ED;
	--color-5: #DAD2BC;
   --color-text: #F5F1ED;
 }
 a{
   color: inherit;
  }
  @font-face {
    font-family: Fugaz;
    src: url("./fonts/FugazOne-Regular.ttf");
  }
  @font-face {
    font-family: NunitoVariable;
    src: url("./fonts/Nunito-VariableFont_wght.ttf");
  }
  @font-face {
    font-family: NunitoItalic;
    src: url("./fonts/Nunito-Italic-VariableFont_wght.ttf");
  }
  @font-face {
    font-family: UbuntuMedium;
    src: url("./fonts/Ubuntu-Medium.ttf");
  }
  @font-face {
    font-family: UbuntuLight;
    src: url("./fonts/Ubuntu-Light.ttf");
  }
  *{
    color: var(--color-text);
    font-family: NunitoVariable;
  }